/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@fontface {
  font-family: 'portico';
  src: url(../fonts/portico-stencil.otf); }
@fontface {
  font-family: 'righteous';
  src: url(../fonts/righteous-regular.ttf); }
@fontface {
  font-family: 'cabin';
  src: url(../fonts/cabin-regular.ttf); }
body {
  height: 100vh;
  width: 100vw; }

button {
  padding: 5%;
  border: none;
  margin-bottom: 5%;
  font-size: 1.2em;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  border-radius: 0.3em;
  outline: none;
  transition: all 0.6s; }

.fly {
  width: 15em;
  background: #8cc4bc;
  border-bottom: 0.5em solid #4f9b90; }

.basecamp {
  width: 15em;
  background: #cf5423;
  border-bottom: 0.5em solid #783114; }

button:hover, button:active {
  border-bottom: none; }

body {
  background: url("../img/background.png");
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  -webkit-animation: BgMove 10s linear infinite;
  animation-delay: 1s; }

.logo-index {
  position: absolute;
  top: 4%;
  left: 5%; }

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.buttons {
  display: flex;
  flex-direction: column;
  width: 20em;
  align-items: center; }

.red-man {
  position: absolute;
  right: -30%;
  top: 50%;
  -webkit-animation: redManMove 3s ease-out forwards; }

.green-man {
  position: absolute;
  left: -30%;
  top: 10%;
  -webkit-animation: greenManMove 3s ease-out forwards; }

@keyframes greenManMove {
  100% {
    left: 5%; } }
@keyframes redManMove {
  100% {
    right: 10%; } }
@keyframes BgMove {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -800px 0; } }
.packages-wrap {
  width: 100%;
  height: 100%;
  background: url("../img/packages_bg.png");
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center; }

.search {
  visibility: hidden; }

/* nav-bar: */
nav {
  padding: 1% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  nav a {
    color: white;
    text-decoration: none;
    margin-left: 5%;
    text-transform: uppercase;
    border-left: 3px solid white;
    padding: 3%; }
    nav a:first-child {
      border-left: none; }

.many-stars {
  width: 100%;
  position: absolute;
  top: 5%;
  left: 0;
  -webkit-animation: starsMove 15s ease-out forwards infinite; }

.links {
  width: 30%;
  display: flex;
  justify-content: center; }

.search {
  display: flex;
  align-items: center; }

.search-button {
  margin-top: 4.5%;
  width: 100px;
  background: #F3B968;
  font-size: 1.1em;
  color: white; }

input {
  width: 150px;
  height: 43px;
  background: white;
  border: none;
  border-radius: 0.3em; }

.sandboarder {
  position: absolute;
  top: 21%;
  left: 19%; }

.green-spaceship {
  position: absolute;
  top: 10%;
  left: 13%; }

.red-spaceship {
  position: absolute;
  top: 5%;
  left: 19%; }

.small-flyer-green {
  position: absolute;
  top: 30%;
  right: 35%; }

.small-flyer-red {
  position: absolute;
  top: 13%;
  right: 11%; }

.jetpack {
  position: absolute;
  top: 35%;
  left: 25%; }

.green-car {
  position: absolute;
  bottom: 38%;
  right: 5%; }

.red-car {
  position: absolute;
  bottom: 25%;
  right: 0%; }

.car-exhaust1 {
  opacity: 0;
  position: absolute;
  bottom: 46%;
  right: 17%;
  -webkit-animation: carExhaust 6s 2s infinite; }

.car-exhaust2 {
  opacity: 0;
  position: absolute;
  bottom: 33%;
  right: 35%;
  -webkit-animation: carExhaust 6s 2s infinite; }

.mountain-climber {
  position: absolute;
  top: 15%;
  right: 0%; }

.sandboarder-desc, .spacerace-desc, .dune-buggy-desc, .jetpack-desc, .climber-desc, .wingsuit-desc {
  opacity: 0;
  transition: all 1.5s;
  cursor: pointer; }

.sandboarder:hover .sandboarder-desc {
  opacity: 1; }

.sandboarder:hover .sanboarder-img {
  -webkit-animation: rotate 3s ease-out forwards; }

.red-spaceship:hover .spacerace-desc {
  opacity: 1; }

.red-car:hover .dune-buggy-desc {
  opacity: 1; }

.jetpack:hover .jetpack-desc {
  opacity: 1; }

.mountain-climber:hover .climber-desc {
  opacity: 1; }

.small-flyer-red:hover .wingsuit-desc {
  opacity: 1; }

.jetpack:hover {
  -webkit-animation: jetpackMove 3s ease-out forwards; }

.green-spaceship:hover {
  -webkit-animation: rocketMove 3s ease-out forwards; }

@keyframes rocketMove {
  100% {
    left: -30%; } }
@keyframes jetpackMove {
  100% {
    top: 7%; } }
@keyframes rotate {
  100% {
    transform: rotate(360deg); } }
@keyframes carExhaust {
  60% {
    opacity: 1; } }
@keyframes starsMove {
  100% {
    left: -5%; } }
.basecamp-wrap {
  width: 100%;
  height: 100%;
  background: url("../img/basecamp_bg.png");
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center; }

.stars {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%; }
  .stars img {
    opacity: 0;
    -webkit-animation: stars 6s 2s infinite; }
  .stars .logo img {
    opacity: 1; }

@keyframes stars {
  60% {
    opacity: 1; } }
@keyframes steam {
  60% {
    opacity: 1; } }
.observation {
  position: absolute;
  top: 29%;
  left: 6%; }

.obs-desc, .bar-desc, .room-desc, .gym-desc, .gossamer-desc {
  opacity: 0;
  transition: all 1.5s; }

.observation:hover .obs-desc {
  opacity: 1; }

.bar:hover .bar-desc {
  opacity: 1; }

.bar {
  position: absolute;
  top: 47%;
  right: 22%; }

.room1 {
  position: absolute;
  top: 58%;
  right: 35%; }

.room2 {
  position: absolute;
  bottom: 30%;
  right: 30%; }

.room3 {
  position: absolute;
  bottom: 33%;
  right: 25%; }

.room4 {
  position: absolute;
  bottom: 25%;
  right: 29%; }

.room1:hover .room-desc {
  opacity: 1; }

.gym {
  position: absolute;
  bottom: 35%;
  left: 15%; }

.gym:hover .gym-desc {
  opacity: 1; }

.gossamer {
  position: absolute;
  bottom: 20%;
  left: 10%; }

.gossamer:hover .gossamer-desc {
  opacity: 1; }

.steam {
  width: 200px;
  position: absolute;
  bottom: 10%;
  right: 48%; }
  .steam img {
    width: 100%;
    opacity: 0;
    -webkit-animation: steam 6s 2s infinite; }

h1 {
  font-family: 'portico', sans-serif;
  font-size: 48px;
  color: #fff; }

h2 {
  font-family: 'righteous', sans-serif;
  font-size: 30px;
  color: #8cc4bc;
  margin: 20px 0px 30px 40px; }

label {
  font-family: 'righteous', sans-serif;
  font-size: 18px;
  color: #8cc4bc; }

h6 {
  font-family: 'cabin', sans-serif;
  font-size: 14px;
  color: #fff;
  width: 167px;
  height: 100%;
  padding: 10px;
  margin-left: 250px;
  margin-right: 20px; }

nav {
  padding: 1% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  nav a {
    color: white;
    text-decoration: none;
    margin-left: 5%;
    text-transform: uppercase;
    border-left: 3px solid white;
    padding: 3%; }
    nav a:first-child {
      border-left: none; }

form {
  background-color: #607477;
  margin: 20px; }

.checkout-wrap {
  position: absolute;
  top: 6em;
  width: 70%;
  height: 87%;
  background-color: #362533; }

.links {
  width: 30%;
  display: flex;
  justify-content: center; }

.submit {
  background: #CF5423;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  padding: 15px 30px 15px 30px;
  font-family: 'righteous';
  letter-spacing: 0.5px;
  margin: 10px 20px 50px 250px; }

.checkout-flex {
  display: flex;
  width: 95%;
  justify-content: flex-end;
  margin-right: 20px;
  border-right: 5px solid #F3B968;
  border-bottom: 5px solid #F3B968; }

.form-control {
  width: 216px;
  height: 35px;
  margin: 1px 20px 15px 10px; }

.radio {
  padding-left: 40px; }

.form-group {
  padding-left: 40px; }

.form-group label {
  margin-right: 20px; }

#med-yellow-checkout {
  position: absolute;
  z-index: 1;
  padding-right: 245px;
  margin-top: 30px; }

#lg-yellow-border {
  float: left;
  position: fixed;
  z-index: 1;
  padding-right: 10px;
  padding-bottom: 10px; }

#name-input {
  margin-top: 50px; }

#checkout-title {
  position: absolute;
  z-index: 1;
  margin-left: 200px; }

/*# sourceMappingURL=styles.css.map */
