/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  height: 100vh;
  width: 100vw; }

button {
  padding: 5%;
  border: none;
  margin-bottom: 5%;
  font-size: 1.2em;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  border-radius: 0.3em;
  outline: none;
  transition: all 0.6s; }

.fly {
  background: #8cc4bc;
  border-bottom: 0.5em solid #4f9b90; }

.basecamp {
  background: #cf5423;
  border-bottom: 0.5em solid #783114; }

button:hover, button:active {
  border-bottom: none; }

body {
  background: url("../img/background.png");
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  -webkit-animation: BgMove 5s linear infinite; }

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.buttons {
  display: flex;
  flex-direction: column;
  width: 15em; }

.red-man {
  position: absolute;
  right: -30%;
  top: 50%;
  -webkit-animation: redManMove 3s ease-out forwards; }

.green-man {
  position: absolute;
  left: -30%;
  top: 10%;
  -webkit-animation: greenManMove 3s ease-out forwards; }

@keyframes greenManMove {
  100% {
    left: 5%; } }
@keyframes redManMove {
  100% {
    right: 10%; } }
@keyframes BgMove {
  from {
    background-position: 0 0; }
  to {
    background-position: 100% 0; } }
.packages-wrap {
  width: 100%;
  height: 100%;
  background: darkgrey; }

/* nav-bar: */
nav {
  padding: 1% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  nav a {
    color: white;
    text-decoration: none;
    margin-left: 5%;
    text-transform: uppercase;
    border-left: 3px solid white;
    padding: 3%; }
    nav a:first-child {
      border-left: none; }

.links {
  width: 30%;
  display: flex;
  justify-content: center; }

.search {
  display: flex;
  align-items: center; }

.search-button {
  margin-top: 4.5%;
  width: 100px;
  background: #F3B968;
  font-size: 1.1em;
  color: white; }

input {
  width: 150px;
  height: 43px;
  background: white;
  border: none;
  border-radius: 0.3em; }

/*# sourceMappingURL=styles.css.map */
