//fonts

// @fontface {
//   font-family: 'portico'
//   src: url(../fonts/portico-stencil.otf);
// }
//
// @fontface {
//   font-family: 'righteous'
//   src: url(../fonts/righteous-regular.ttf);
// }
//
// @fontface {
//   font-family: 'cabin'
//   src: url(../fonts/cabin-regular.ttf);
// }

//universal selectors

//class selectors
.checkout-wrap {
  width: 100%;
  height: 100%;
  background-color: #362533;
}
