body {
  background: url("../img/background.png");
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  // -webkit-animation: BgMove 5s linear infinite;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 15em;
}

.red-man {
  position: absolute;
  // right: -30%;
  right: 10%;
  top: 50%;
  // -webkit-animation: redManMove 3s ease-out forwards;
}

.green-man {
  position: absolute;
  // left: -30%;
  left: 5%;
  top: 10%;
  // -webkit-animation: greenManMove 3s ease-out forwards;
}

@keyframes greenManMove {
  100% {left: 5%;}
}

@keyframes redManMove {
  100% {right: 10%;}
}

@keyframes BgMove {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
